{% assign collection = collections['all'] %}

<div class="home-hero">
  <div class="w100p h100p bg-cover bg-center bg-no-repeat" style="background-image: url({{ collection.image | img_url: '1440x768' }})"></div>
</div>
<div class="main-height flex flex-column">
  <div class="pad-index-numbers flex justify-between bembo h2">
    <span class="black">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18">
        <g fill="currentColor">
          <path d="M7.3 0.4L7.3 1C4.8 1 4.8 1.1 4.8 2.5L4.8 10.9C4.8 12.3 4.9 12.4 7.3 12.4L7.3 13 0.3 13 0.3 12.4C2.8 12.3 2.9 12.3 2.9 10.9L2.9 2.5C2.9 1.2 2.8 1 0.3 1L0.3 0.4 7.3 0.4Z"/>
          <path d="M21.9 5.8C21.9 1.4 19.7 0.5 18.3 0.5 17.6 0.5 16.5 0.8 15.7 1.7 15.1 2.6 14.9 4.1 14.9 5.4 14.9 6.8 15.2 10.8 18.6 10.8 19.6 10.8 20.3 10.5 21.1 10.1 21.5 9 21.9 7.8 21.9 5.8ZM12.9 17C14.3 16.5 16 15.9 17.6 14.7 19.8 13 20.4 11.7 20.8 10.8 20.1 11 19.2 11.3 18.1 11.3 15.6 11.3 12.7 9.5 12.7 5.9 12.7 2.5 15.2 0 18.3 0 20.8 0 24.1 1.9 24.1 6.6 24.1 9.3 23.1 12.5 19.9 14.8 17.6 16.6 15.1 17.2 13.3 17.7L12.9 17Z"/>
        </g>
      </svg>
    </span>
    <span class="black">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18">
        <g fill="currentColor">
          <path d="M9.3 5.8C9.3 1.4 7.1 0.5 5.8 0.5 5.1 0.5 3.9 0.8 3.2 1.7 2.6 2.6 2.3 4.1 2.3 5.4 2.3 6.8 2.6 10.8 6.1 10.8 7.1 10.8 7.8 10.5 8.6 10.1 8.9 9 9.3 7.8 9.3 5.8ZM0.4 17C1.8 16.5 3.4 15.9 5.1 14.7 7.3 13 7.9 11.7 8.3 10.8 7.5 11 6.7 11.3 5.6 11.3 3 11.3 0.1 9.5 0.1 5.9 0.1 2.5 2.6 0 5.7 0 8.3 0 11.5 1.9 11.5 6.6 11.5 9.3 10.5 12.5 7.3 14.8 5 16.6 2.6 17.2 0.7 17.7L0.4 17Z"/>
          <path d="M21.8 3.5L16.8 11.2 21.8 11.2 21.8 3.5ZM23.9 11.2L27.2 11.2 27.2 12.6 23.9 12.6 23.9 17.7 21.8 17.7 21.8 12.6 15.3 12.6 15.3 12.1 23.3 0 23.9 0 23.9 11.2Z"/>
        </g>
      </svg>
    </span>
  </div>
  <div class="flex-1 flex items-center">
    <div class="grid">
      <div class="main-description mx-auto w100p py10">
        {{ collection.description }}
        <div class="home-links pt2 flex">
          {% for main in linklists.main-menu.links %}
            {% if forloop.last != true %}
              <a class="link-with-underline bembo" href="{{ main.url }}">
                {{ main.title }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="pad-index-numbers flex justify-between bembo h2">
    <span class="black">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="13" viewBox="0 0 28 13">
        <g fill="currentColor">
          <path d="M10.7 12.8L0.8 12.8 0.8 12.3C2.3 11.2 4.1 10 5.9 8.4 7.9 6.6 8.3 5.5 8.3 4.5 8.3 2.8 7.1 1.6 5.4 1.6 3.8 1.6 2.7 2.6 2.1 3.2L1.7 2.9C2.5 1.9 4 0.3 6.5 0.3 8.6 0.3 10.2 1.7 10.2 3.4 10.2 5.9 8.3 7.5 3.4 11.1L9.1 11.1C9.9 11.1 10.3 11.1 11.3 8.5L11.7 8.5 10.7 12.8Z"/>
          <path d="M26.1 6.5C26.1 5.5 26 3.9 25.2 2.8 24.6 2 23.5 1.1 21.9 1.1 19.3 1.1 17.8 3.5 17.8 6.4 17.8 10.3 19.6 12 21.9 12 24.5 12 26.1 10 26.1 6.5M16.1 6.3C16.1 3.8 17.7 0.1 22 0.1 25.2 0.1 27.9 2.4 27.9 6.6 27.9 10.1 25.7 13 21.9 13 19.1 13 16.1 11.1 16.1 6.3"/>
        </g>
      </svg>
    </span>
    <span class="black">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18">
        <g fill="currentColor">
          <path d="M7.4 4.9L7.4 5.4C4.9 5.4 4.9 5.6 4.9 6.9L4.9 15.3C4.9 16.7 5 16.8 7.4 16.9L7.4 17.4 0.5 17.4 0.5 16.9C2.9 16.8 3 16.7 3 15.3L3 6.9C3 5.7 2.9 5.4 0.5 5.4L0.5 4.9 7.4 4.9Z"/>
          <path d="M21.2 4.1C21.2 2.1 20.2 0.5 18.3 0.5 16.9 0.5 15.6 1.4 15.6 3 15.6 5.1 18.1 6.8 19.2 7.6 19.8 7.2 21.2 6.4 21.2 4.1M15.3 13.2C15.3 15.7 16.7 16.9 18.5 16.9 20 16.9 21.4 15.9 21.4 14.1 21.4 11.9 19.7 10.6 17.5 9.1 16.6 9.7 15.3 10.5 15.3 13.2M23 13.1C23 15.3 21.3 17.4 18.3 17.4 15 17.4 13.7 15 13.7 13.2 13.7 10.8 15.6 9.6 17.1 8.7 16.1 8 14.1 6.6 14.1 4 14.1 2 15.6 0.1 18.5 0.1 21.6 0.1 22.6 2.3 22.6 3.8 22.6 6.1 20.9 7.2 19.6 7.9 21.4 9.2 23 10.6 23 13.1"/>
        </g>
      </svg>
    </span>
  </div>
</div>
<div class="grid">
  <div class="index-row overflow-hidden pt10">
    {% for product in collections.all.products %}
      <div class="index-item border-box">
        <a href="{{ product.url }}" class="inline-block no-underline black w100p">
          {% for image in product.images %}
            {% if forloop.first == true %}
              <div class="h100p">
                <div class="bg-center bg-cover" style="padding-top: 125%; background-image: url({{ image | img_url: '750x' }})"></div>
              </div>
            {% endif %}
          {% endfor %}
          <div class="flex justify-between">
            <div>
              <p class="bembo mb0" style="margin-bottom: .25rem;">
                Concept {{ forloop.index }}:
              </p>
              <p class="m0">{{ product.title }}</p>
            </div>
            <p>{{ product.price | money_without_trailing_zeros }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="text-center pb10">
    <a class="border border-smoke py1 px2 bembo black no-underline" href="/collections/the-collection">
      View the Full Collection
    </a>
  </div>
</div>
