<div class="show-md">
  <div class="js-product-wrapper overflow-hidden main-height relative {% if settings.display_announcement_banner %}banner-showing{% endif %}">
    <div class="product-images left main-height">
      {% for image in product.images limit:2 %}
        <img class="w100p block mb1" src="{{ image | img_url: '1024x' }}" />
      {% endfor %}
    </div>
    <div class="js-product-details product-details">
      <div class="w60p mx-auto">
        {% include 'product-details' %}
      </div>
    </div>
  </div>
  {% for image in product.images offset:2 limit:1 %}
    <img class="w100p block mb1" src="{{ image | img_url: '2048x' }}" />
  {% endfor %}
  <div class="grid">
    <div class="main-description mx-auto w100p py10">
      {{ product.description }}
    </div>
  </div>
  {% for image in product.images offset:3 %}
    <img class="w100p block mb1" src="{{ image | img_url: '2048x' }}" />
  {% endfor %}
  <div class="grid">
    <div class="main-description mx-auto w100p py10 flex">
      <div class="flex-1 text-right">
        <a class="link-with-underline mx1" href="/collections/the-collection">
          Back to Collection
        </a>
      </div>
      <div class="flex-1">
        <a class="link-with-underline mx1" href="/pages/{{ product.handle }}">
          Read the Essay
        </a>
      </div>
    </div>
  </div>
</div>
<div class="hide-md">
  {% for image in product.images limit:1 %}
    <img class="w100p block mb1" src="{{ image | img_url: '1024x' }}" />
  {% endfor %}
  <div class="grid pt1 pb3">
    {% include 'product-details' %}
  </div>
  {% for image in product.images offset:1 %}
    <img class="w100p block mb1" src="{{ image | img_url: '1024x' }}" />
  {% endfor %}
  <div class="grid">
    <div class="main-description mx-auto w100p pt3 pb4 flex">
      <div class="flex-1 text-right">
        <a class="link-with-underline mx1" href="/collections/the-collection">
          Back to Collection
        </a>
      </div>
      <div class="flex-1">
        <a class="link-with-underline mx1" href="/pages/{{ product.handle }}">
          Read the Essay
        </a>
      </div>
    </div>
  </div>
</div>
