<div class="show-md">
  <div class="js-product-wrapper">
    <div class="product-images left">
      {% for image in product.images limit:2 %}
        <div class="h100p overflow-hidden bg-smoke mb1">
          <div class="image bg-center bg-cover fade-image" style="padding-top: 125%;" data-img="{{ image | img_url: '1024x' }}"></div>
        </div>
      {% endfor %}
    </div>
    <div class="product-details right sticky t4">
      <div class="w60p mx-auto">
        {% include 'product-details' %}
      </div>
    </div>
  </div>
  {% for image in product.images offset:2 limit:1 %}
    <div class="h100p overflow-hidden bg-smoke mb1">
      <div class="image bg-center bg-cover fade-image" style="padding-top: 125%;" data-img="{{ image | img_url: '2048x' }}"></div>
    </div>
  {% endfor %}
  <div class="grid">
    <div class="main-description mx-auto w100p py10">
      {{ product.description }}
    </div>
  </div>
  {% for image in product.images offset:3 %}
    <div class="h100p overflow-hidden bg-smoke mb1">
      <div class="image bg-center bg-cover fade-image" style="padding-top: 125%;" data-img="{{ image | img_url: '2048x' }}"></div>
    </div>
  {% endfor %}
  {% include 'product-ctas' %}
</div>
<div class="hide-md">
  {% for image in product.images limit:1 %}
    <div class="h100p overflow-hidden bg-smoke mb1">
      <div class="image bg-center bg-cover fade-image" style="padding-top: 125%;" data-img="{{ image | img_url: '1024x' }}"></div>
    </div>
  {% endfor %}
  <div class="grid pt1 pb3">
    {% include 'product-details' %}
  </div>
  {% for image in product.images offset:1 %}
    <div class="h100p overflow-hidden bg-smoke mb1">
      <div class="image bg-center bg-cover fade-image" style="padding-top: 125%;" data-img="{{ image | img_url: '1024x' }}"></div>
    </div>
  {% endfor %}
  {% include 'product-ctas' %}
</div>
